<div id="header" align="center">
  <%= link_to 'Cancel', synonym_index_path %>
  <%= form_for :synonym, url: synonym_index_path do |s| %>
      <div align="center">
        <table cellpadding="5" width="50%" border="1">
          <tr>
            <th align="center" colspan="2">
              <font size="+2">Synonym Details</font>
            </th>
          </tr>
          <tr>
            <td><b>Summary</b></td>
            <td>
               <%= s.text_field :summary, :size => 50%></td>
          </tr><tr>
            <td><b>Description</b></td>
            <td>
               <%= s.text_area :details, :cols => 50, :rows=> 3 %></td>
          </tr>
          <tr>
            <td><b>Words In Sholka</b></td>
            <td>
              <%= s.text_area :words, :cols => 50, :rows=> 3 %></td>
          </tr>
          <tr>
            <td><b>Sholka</b></td>
            <td><%= s.text_area :shloka, :cols => 50, :rows=> 4%></td>
          </tr>
          <tr>
            <td align="center" colspan="2"><%=s.submit%></td>
          </tr>
        </table>
      </div>
  <% end %>
</div>

