<div id="header" align="center">
  <%= link_to 'Cancel', synonym_index_path %>
  <%= form_for :synonym, url: synonym_index_path do |s| %>
      <div align="center">
        <table cellpadding="5" width="90%" border="0">
          <tr>
            <th align="center">
              <font size="+5">Synonym Details</font>
            </th>
          </tr>
          <tr>
            <td align="center"><b>Description</b>
              :&nbsp;&nbsp;&nbsp; <%= s.text_field :details, :size => 100 %></td>
          </tr>
          <tr>
            <td align="center"><b>Words In Sholka</b>
              :&nbsp;&nbsp;&nbsp; <%= s.text_area :words, :size => 100 %></td>
          </tr>
          <tr>
            <td align="center"><b>Sholka</b>
              :&nbsp;&nbsp;&nbsp; <%= s.text_area :shloka, :size => 100 %></td>
          </tr>
          <tr>
            <td align="center"> <%= s.submit %></td>
          </tr>
        </table>
      </div>
  <% end %>
</div>

