<div align="center">
  <table cellpadding="5" width="50%" border="1">
    <tr>
      <th align="center"><font size="+2">Synonym Details</font><br/>
        <%= link_to 'Back', synonym_index_path %>
        <%= link_to "Edit", edit_synonym_path(@syn) %>
      </th>
    </tr>
    <tr>
      <td align="left"><b>Description</b>
        :&nbsp;&nbsp;&nbsp; <%= @syn.details %></td>
    </tr>
    <tr>
      <td align="left"><b>Words In Sholka</b>
        :&nbsp;&nbsp;&nbsp; <%= @syn.words %></td>
    </tr>
    <tr>
      <td align="left"><b>Shloka</b>
        :&nbsp;&nbsp;&nbsp; <%= @syn.shloka %></td>
    </tr>
  </table>
</div>

